body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url(../images/pizza-bg-mustard.png);
}
.container {
    color: black;
    background: #FFF;
    border: 5px black;
    border-radius: 8px;
    opacity: 0.8;
    margin-top: 20px;
}
#logo {
    margin-left: 10px;
}
.img-fluid {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
    margin-top: 0;
}
.jumbotron {
    font-family: 'Merriweather', serif;
    color: black;
    background-color: white!important;
    border: 5px dotted black;
    border-radius: 8px;
}
.display-4, intro {
    margin-top: 20px;
}
label {
    margin: 10px;
}


/* Address Type Dropdown */
.addressType, .size, .cheese, .sauce {
    width: 175px!important;
    height: 38px;
}

#div1.typein {
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {color: black; padding: 12px 16px; text-decoration: none; display: block;}
.dropdown a:hover {background-color: #ddd;}
.show {display: block;}

/* FORM */
.dough {
    margin: 0px 20px 0px 0px;
}
#handtossed, #thincrust, #nystyle, #glutenfree {
    margin-right: 5px;
}
.dropbtn {
    background-color: darkgoldenrod!important;
}

.btn-primary {
    background-color: darkgoldenrod!important;
    border-color: white!important;
    margin-bottom: 20px;

}
.mb-1 {
    color: black;
}

/* PAYMENT */
.billing {display: none;}

.fa {
    width: 40px;
    height: 40px;
}
#month {
    width: 75px!important;
}
#year {
    width: 100px;
}

/* FOOTER */
footer {
    padding-bottom: 5px;
}
#contact {
    color: black;
}
a:hover {
    color: darkgoldenrod!important;
    text-decoration: none!important;
}